{% extends 'academy/layout.html' %}
{% load crispy_forms_tags %}

{% block title %} My profile {% endblock %}

{% block body %}
    {% if form %}
        <h1 class>Create your profile!</h1>
        <hr>
        <p>
            This is your opportunity to express who you are, your interests, your goals, what you hope to do later in
            life. It's perfectly fine if you do not know what you want to dedicate yourself to (I sure know it took
            me a while to decide). Just be open; this is a way for me to get to know you.
        </p>
        <form action="{% url 'academy:profile' %}" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <button class="btn btn-success" type="submit">Create profile</button>
        </form>
    {% elif profile %}
        <h1>{{ user.first_name }}'s Profile</h1>
        <hr>
        <div id="profile" class="container justify-content-center">
            <div style="width: 30%;">
                <img id="profile_photo" src="{{ profile.photo.url }}" alt="Your profile photo">
            </div>
            <p class="text-justify mx-4 mt-2">{{ profile.bio }}</p>
        </div>
        <form action="{% url 'academy:change_profile' profile.pk 'delete' %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-danger my-5" type="submit">Delete profile</button>
        </form>
    {% endif %}
{% endblock %}
