{% extends 'academy/layout.html' %}

{% block title %} Schedule a Meeting {% endblock %}

{% block body %}
    <h1>Schedule a 1-On-1 Meeting</h1>
    <hr class="transition">
    <p>
        If you want to meet with me to discuss more in-depth any classes, general tips on studying and/or college,
        or just chat in general, feel free to schedule a meeting over here. Thanks to Calendly for such a
        convenient platform!
    </p>
    <!-- Calendly inline widget begin -->
    <div class="calendly-inline-widget" data-url="https://calendly.com/santiagoginer/tutoring?background_color=383333&text_color=ffffff" style="min-width:320px;height:630px;"></div>
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
    <!-- Calendly inline widget end -->
{% endblock %}
