{% extends 'academy/layout.html' %}


{% block title %} {{ class }} {% endblock %}

{% block body %}
    <!-- <h1>{{ user.first_name }}: {{ class }}</h1>
    <hr>
    <h4>Enrolled: {{ class.date }}</h5>
    <h4>Classes viewed: {{ class.viewed }}</h5> -->
    <div class="jumbotron">
        <h1 class="display-4">{{ user.first_name }}: {{ class }}</h1>
        <hr>
        <p class="lead">Enrolled: {{ class.date }}</p>
        <p class="lead">Classes viewed: {{ class.viewed }}</p>
    </div>
    <div class="class-description">
        <h2>Class Files</h2>
        <hr>
        {% if files %}
            <!-- TODO -->
        {% else %}
            <h4>Here is where any files relevant for the class will appear.</h4>
        {% endif %}
    </div>
    <a class="btn btn-success my-5" href="{% url 'academy:classes' %}">Back to my classes</a>
{% endblock %}
