/* Animations */
@keyframes fadein {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%; 
    }
}

@keyframes fadeout {
    0% {
        opacity: 100%;
        height: 7.5vh;
        line-height: 5vh;
        padding: 5px;
    }
    92% {
        opacity: 100%;
        height: 7.5vh;
        line-height: 5vh;
        padding: 5px;
    }
    100% {
        opacity: 0%;
        height: 0px;
        line-height: 0px;
        padding: 0px;
    }
}


/* Elements by HTML tag */
a {
    color: #00ff00;
}

a:hover {
    color: #00ff00;
    text-decoration: underline;
}

html, body {
    background-image: linear-gradient(45deg, #364166, #232630);
    color: #ffffff;
}

h1 {
    text-align: center;
}

h5 {
    color: #000000;
}

hr {
    margin-bottom: 20px;
    background-color: #00ff00;
}

i {
    color: #b8b8b8;
}

label[class=""] {
    font-size: 21px;
}

main {
    overflow-x: hidden;
}

p {
    font-size: 1.3vw;
    line-height: 1.8;
}


/* Elements by class */
.alert {
    border-radius: 1% !important;
    animation-name: fadeout;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.card.w-75.mx-3.my-3.p-3 {
    width: 18rem;
    height: 25rem;
}

.card-img-top {
    height: 45%;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
}

.form-group {
    margin-top: 40px;
    margin-bottom: 40px;
}

.form-text.text-muted {
    color: #7fe06cfd !important;
    font-size: 18px;
}

.transition {
    animation-name: fadein;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.img-center {
    border-radius: 6%;
    height: 280px;
    width: 290px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.jumbotron {
    color: #000000;
}

.jumbotron > hr {
    background-color: #858585;
}

.lead {
    text-align: center;
}

.modal-paragraph {
    color: #000000;
    font-size: 1.2vw;
    text-align: center;
    line-height: 1.4;
}

.modal-li {
    color: #000000;
    font-size: 1.2vw;
    text-align: left;
    line-height: 1.4;
}

.requiredField {
    font-size: 21px;
    margin-bottom: 5px;
    color: #e0dcdc;
}


/* Elements by id */
#center_flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

#enroll {
    position: relative;
}

#logo {
    border-radius: 10%;
}

#logofull {
    left: 0%;
    height: 330px;
    width: 330px;
    margin-bottom: 30px;
    margin-top: 25px;
    border-radius: 10%;
}

#myphoto {
    height: 300px;
    width: 250px;
    margin-right: 15px;
}

#profile_photo {
    border-radius: 30%;
    border-color: #ffffffe7;
    border-style: solid;
    width: 100%;
    height: auto;
}

#samos-description {
    right: 0%;
    width: 60%;
}

#venezuela {
    width: 350px;
    height: 230px;
    margin-left: 15px;
}
